.DS_Store
.idea
*.log
tmp/

.cpcache
.nrepl-port
.clj-kondo/.cache
.clj-kondo/babashka
.clj-kondo/metosin
log/

awesome/**/.luacheckcache
awesome/.luacheckcache
.luacheckcache
awesome/stdout
awesome/theme/wallpapers

awesome/clawe-bindings.fnl
awesome/workspace-rules.fnl
awesome/lain

clawe-script.clj
clawe.jar
src/clawe/temp.clj
uberscripts/*

resources/secret.edn


sxhkd/sxhkdrc

clawedb
defthingdb
newdb
commands.json
dbs/

.nrepl-port
.shadow-cljs
node_modules/
public/js/
public/css/main-built.css
public/css/chessground*
public/images/board/
public/images/pieces/
public/assets/candy-icons
public/assets/screenshots
public/assets/wallpapers
public/assets/clips
public/assets/game-clips
.lsp/


.clerk
/cljs-test-runner-out/
/out/
/target/

.cache
