.DS_Store
.idea
*.log
tmp/

.cpcache
.nrepl-port
.clj-kondo/.cache

awesome/**/.luacheckcache
awesome/.luacheckcache
.luacheckcache
awesome/stdout

clawe-script.clj
src/clawe/temp.clj
uberscripts/*

resources/config.edn

awesome/clawe-bindings.fnl
awesome/workspace-rules.fnl

clawedb
