{:paths ["src"]
 :deps  {}
 :tasks
 {:requires ([babashka.process :as p])
  clawe-install
  (let [cp (-> ^{:out :string} (p/$ clojure -A:remove-clojure -Spath) p/check :out)]
    (shell (str "bb -cp " cp " --uberjar clawe.jar -m clawe.core")))

  doctor-be (shell {:dir "/home/russ/russmatney/clawe"}
                   "clj -M:dev:doctor-deps:doctor-server")
  doctor-fe (shell {:dir "/home/russ/russmatney/clawe"}
                   "npx shadow-cljs watch doctor-app")
  topbar    (shell {:dir "/home/russ/russmatney/clawe"}
                   "cargo tauri dev")}}
