{:paths ["src"
         "test"
         "bench"
         "resources"]
 :deps
 {teknql/systemic                    {:git/sha "d6e4ddc16bc08c7823e2c775084530867b1a03e0"
                                      :git/url "https://github.com/teknql/systemic"}
  wing/wing                          {:git/sha "c26ea89255d2d047e69f0132e6bbba5e3143c02d"
                                      :git/url "https://github.com/teknql/wing"}
  aero/aero                          {:mvn/version "1.1.6"}
  babashka/babashka                  {:mvn/version "1.0.165"}
  babashka/babashka.pods             {:mvn/version "0.1.0"}
  babashka/babashka.curl             {:mvn/version "0.1.2"}
  babashka/process                   {:mvn/version "0.3.11"}
  org.babashka/cli                   {:mvn/version "0.5.40"}
  babashka/fs                        {:mvn/version "0.2.12"}
  juxt/dirwatch                      {:mvn/version "0.2.5"}
  metosin/malli                      {:mvn/version "0.9.2"}
  com.lambdaisland/specmonstah-malli {:mvn/version "0.0.7"}
  cheshire/cheshire                  {:mvn/version "5.11.0"}
  org.clojure/tools.reader           {:mvn/version "1.3.6"}
  backtick/backtick                  {:mvn/version "0.3.4"}
  aysylu/loom                        {:mvn/version "1.0.2"}

  russmatney/org-crud {:git/url "https://github.com/russmatney/org-crud"
                       :git/sha "3e3c096262bdbd873823d2d4558b78b10cc2fc56"}
  kkinnear/zprint     {:git/url "https://github.com/kkinnear/zprint"
                       :git/tag "1.2.5-alpha1"
                       :git/sha "15ea82a"}}
 :aliases
 {:dev      {:jvm-opts ["-XX:-OmitStackTraceInFastThrow"]}
  :outdated {:extra-deps {com.github.liquidz/antq {:mvn/version "2.2.962"}}
             :main-opts  ["-m" "antq.core"]}

  :doctor-server {:main-opts ["-m" "doctor.main"]}

  :kaocha {:extra-deps
           {lambdaisland/kaocha          {:mvn/version "1.71.1119"}
            com.lambdaisland/kaocha-cljs {:mvn/version "1.4.130"}}
           :main-opts ["-m" "kaocha.runner"]}

  :oli-test {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.0"}}
             :main-opts  ["-m" "cljs-test-runner.main"]}

  :full-stack-deps
  {:extra-deps
   { ;; dev
    cider/cider-nrepl             {:mvn/version "0.28.7"}
    refactor-nrepl/refactor-nrepl {:mvn/version "3.6.0"}

    clj-kondo/clj-kondo {:mvn/version "2022.11.02"}

    ;; db
    datascript/datascript                 {:mvn/version "1.3.15"}
    datascript-transit/datascript-transit {:mvn/version "0.3.0"}

    ;; core
    org.clojure/core.async      {:mvn/version "1.6.673"}
    org.clojure/tools.namespace {:mvn/version "1.3.0"}

    ;; web
    luminus/ring-undertow-adapter {:mvn/version "1.2.9"}

    ;; logging
    com.taoensso/timbre {:mvn/version "6.0.2"}

    ;; clerk
    io.github.nextjournal/clerk {:git/url "https://github.com/nextjournal/clerk"
                                 :git/sha "6c0a44a5634afdec511469d7220158b2957bf488"}

    ;; file-watching
    hawk/hawk {:mvn/version "0.2.11"}

    ;; time
    time-literals/time-literals {:mvn/version "0.1.5"}
    tick/tick                   {:mvn/version "0.5.0-RC5"}
    com.cognitect/transit-clj   {:mvn/version "1.0.329"}

    ;; required (along with joda npm deps) for tick to work in cljs
    thheller/shadow-cljsjs {:mvn/version "0.0.22"}

    teknql/plasma
    {:git/sha "1a2d9d211dd28a7545051e741708f03d4525d391"
     :git/url "https://github.com/teknql/plasma"}

    ;; ui dev env
    thheller/shadow-cljs {:mvn/version "2.20.12"}

    ;; tailwind
    com.teknql/shadow-cljs-tailwind-jit {:mvn/version "1.0.0"}

    ;; ui core
    uix/uix.core {:git/url   "https://github.com/rschmukler/uix.git"
                  :deps/root "core"
                  :sha       "5f9953e4482b1bc8e198026a2fd9f6e7ffa0e23e"}
    uix/uix.dom  {:git/url   "https://github.com/roman01la/uix.git"
                  :deps/root "dom"
                  :sha       "fc98f57a01d16228e709fb1ad4c2a504c65964d3"}
    uix/uix.rn   {:git/url   "https://github.com/roman01la/uix.git"
                  :deps/root "rn"
                  :sha       "fc98f57a01d16228e709fb1ad4c2a504c65964d3"}

    ;; keybindings
    keybind/keybind {:mvn/version "2.2.0"}

    ;; ui icons
    hiccup-icons/hiccup-icons {:mvn/version "0.4.4"}

    ;; benchmarking
    criterium/criterium {:mvn/version "0.4.6"}}}}}
