{:deps {:aliases
        [:full-stack-deps]}

 :nrepl {:port 3335
         :middleware
         [cider-nrepl.plugin/middleware
          refactor-nrepl.middleware/wrap-refactor]}

 :builds
 {
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;; doctor
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;

  :doctor-app
  {:target           :browser
   :output-dir       "public/js/compiled"
   :asset-path       "/js/compiled"
   :modules          {:main {:init-fn doctor.ui.core/init}}
   :compiler-options {:output-feature-set :es-next
                      :infer-externs      true}

   :build-hooks
   [(plasma.uix.hot-reload/compile-prepare!)
    (plasma.uix.hot-reload/compile-finish!)]

   :dev
   {:closure-defines {:plasma.uix.hot-reload? true}
    :build-hooks     [(teknql.tailwind/start-watch!)]}

   :release
   {:build-hooks [(teknql.tailwind/compile-release!)]}

   :closure-defines
   {doctor.ui.core/SERVER_HOST #shadow/env "SERVER_HOST"
    doctor.ui.core/SERVER_PORT #shadow/env "SERVER_PORT"}

   :devtools
   {:http-root   "public"
    :http-port   3333
    :loader-mode :eval
    :after-load  doctor.ui/mount-root
    :repl-pprint true}

   :tailwind/output "public/css/main-built.css"
   :tailwind/files
   {:base-path    "." ;; Path to directory housing `tailwind.config.js`
    :tailwind.css "public/css/main.css"}}

  ;;;;;;;;;;;;;;;;;;;;;;;;;;;
  ;; expo
  ;;;;;;;;;;;;;;;;;;;;;;;;;;;

  :expo-app
  {:target           :browser
   :output-dir       "expo/public/js/compiled"
   :asset-path       "/js/compiled"
   :modules          {:main {:init-fn expo.ui.core/init}}
   :compiler-options {:output-feature-set :es-next
                      :infer-externs      true}

   :nrepl {:port 3332}

   :build-hooks
   [(plasma.uix.hot-reload/compile-prepare!)
    (plasma.uix.hot-reload/compile-finish!)]

   :dev
   {:closure-defines {:plasma.uix.hot-reload? true}
    :build-hooks     [(teknql.tailwind/start-watch!)]}

   :release
   {:build-hooks [(teknql.tailwind/compile-release!)]}

   :closure-defines
   {expo.ui.core/SERVER_HOST #shadow/env "SERVER_HOST"
    expo.ui.core/SERVER_PORT #shadow/env "SERVER_PORT"}

   :devtools
   {:http-root   "expo/public"
    :http-port   4444
    :loader-mode :eval
    :after-load  expo.ui/mount-root
    :repl-pprint true}

   :tailwind/output "expo/public/css/main-built.css"
   :tailwind/files
   {:base-path    "." ;; Path to directory housing `tailwind.config.js`
    :tailwind.css "expo/public/css/main.css"}}}}
