{:linters {:unresolved-symbol {:exclude [(ralph.defcom/defcom)
                                         (babashka.process/$)]}
           :clawe/missing     {:level :warning}
           :defcom/missing    {:level :warning}}
 :lint-as {systemic.core/defsys       clojure.core/def
           defthing.defcom/defcom     clojure.core/def
           clawe.defs.bindings/defkbd clojure.core/def}
 :hooks   {:analyze-call
           {clawe.defs/defworkspace            hooks.defworkspace/defworkspace
            clawe.defs/defapp                  hooks.defcom/defcom
            clawe.defs.workspaces/defworkspace hooks.defworkspace/defworkspace}}}
