{:linters {:unresolved-symbol
           {:exclude [(clojure.core.match/match) (wing.test/assert-match) match?]}
           :clawe/missing  {:level :warning}
           :defcom/missing {:level :warning}}
 :hooks
 {:analyze-call {plasma.core/defhandler hooks.plasma/defhandler
                 plasma.core/defstream  hooks.plasma/defhandler}}
 :lint-as {systemic.core/defsys               clojure.core/def
           defthing.core/defthing             clojure.core/def
           defthing.defcom/defcom             clojure.core/def
           defthing.defworkspace/defworkspace clojure.core/def
           defthing.defapp/defapp             clojure.core/def
           defthing.defkbd/defkbd             clojure.core/def

           defthing.core-test/deftestworkspace clojure.core/def
           defthing.core-test/defsomething     clojure.core/def
           defthing.core-test/defx             clojure.core/def}}
