{:doctor-base-url "http://localhost:3334",
 :workspace/defs
 {"clawe"          #:workspace{:directory "~/russmatney/clawe"},
  "journal"        #:workspace{:directory "~/todo"},
  "beatemup-three" #:workspace{:directory "~/russmatney/beatemup-three"},
  "advent-of-code" #:workspace{:directory "~/russmatney/advent-of-code"}},
 :repo-roots      ["~/russmatney/*" "~/teknql/*"]}
