{:doctor-base-url "http://localhost:3334",
 :workspace/defs
 {"lila" {:workspace/directory "~/lichess-org/lila"},
  "game-assets" {:workspace/directory "~/game-assets"},
  "rewrite-clj" {:workspace/directory "~/clj-commons/rewrite-clj"},
  "candy-icons" {:workspace/directory "~/EliverLara/candy-icons"},
  "dino" {:workspace/directory "~/russmatney/dino"},
  "lichess-docker"
  {:workspace/directory "~/benediktwerner/lichess-docker"},
  "org-crud" {:workspace/directory "~/russmatney/org-crud"},
  "clj-kondo" {:workspace/directory "~/clj-kondo/clj-kondo"},
  "org-roam" {:workspace/directory "~/org-roam/org-roam"},
  "heroicons" {:workspace/directory "~/tailwindlabs/heroicons"},
  "editscript" {:workspace/directory "~/juji-io/editscript"},
  "lila-ws" {:workspace/directory "~/lichess-org/lila-ws"},
  "cider" {:workspace/directory "~/clojure-emacs/cider"},
  "clawe" {:workspace/directory "~/russmatney/clawe"},
  "cli" {:workspace/directory "~/babashka/cli"},
  "godot-git-plugin"
  {:workspace/directory "~/godotengine/godot-git-plugin"},
  "tools.namespace" {:workspace/directory "~/clojure/tools.namespace"},
  "advent-of-code"
  {:workspace/directory "~/russmatney/advent-of-code"},
  "beatemup-three"
  {:workspace/directory "~/russmatney/beatemup-three"},
  "portal" {:workspace/directory "~/djblue/portal"},
  "instaparse" {:workspace/directory "~/Engelberg/instaparse"},
  "fabb" {:workspace/directory "~/teknql/fabb"},
  "protomoon-two" {:workspace/directory "~/russmatney/protomoon-two"},
  "dotfiles" {:workspace/directory "~/russmatney/dotfiles"},
  "malli" {:workspace/directory "~/metosin/malli"},
  "steam" {:workspace/directory "~"},
  "clojuredocs" {:workspace/directory "~/zk/clojuredocs"},
  "journal" {:workspace/directory "~/todo"},
  "godot" {:workspace/directory "~/godotengine/godot"}},
 :repo-roots ["~/russmatney/*" "~/teknql/*"],
 :client/defs
 {"slack"
  {:client/app-names ["Slack"],
   :client/workspace-title "slack",
   :match/skip-title true,
   :client/create "slack"},
  "terminal"
  {:client/app-names ["Alacritty"],
   :client/create
   {:create/cmd ralphie.tmux/open-session,
    :tmux/session-name :create/use-workspace-title,
    :tmux/directory :create/use-workspace-directory},
   :match/use-workspace-title true,
   :hide/type :hide/close,
   :focus/float-and-center true},
  "devweb"
  {:client/app-names
   ["firefoxdeveloperedition"
    "google-chrome"
    "firefox developer edition"],
   :client/workspace-title "devweb",
   :match/skip-title true,
   :client/create ralphie.browser/open-dev},
  "web"
  {:client/app-names ["Safari" "firefox"],
   :client/workspace-title "web",
   :match/skip-title true,
   :client/create ralphie.browser/open},
  "zoom" {:client/app-names ["zoom" "zoom meeting" "slack call"]},
  "obs" {:client/app-names ["obs"]},
  "doctor-be"
  {:client/create
   {:create/cmd ralphie.tmux/fire,
    :tmux.fire/cmd "clawebb doctor-be",
    :tmux.fire/session "clawe",
    :tmux.fire/window "1",
    :tmux.fire/interrupt? true}},
  "doctor"
  {:client/app-names ["doctor"],
   :client/window-title "tauri/doctor-todo",
   :client/create
   {:create/cmd ralphie.tmux/fire,
    :tmux.fire/cmd "bb --config ~/russmatney/clawe/bb.edn todo",
    :tmux.fire/session "doctor-todo",
    :tmux.fire/interrupt? true},
   :client/workspace-title "doctor"},
  "spotify"
  {:client/app-names ["spotify" "pavucontrol"],
   :client/workspace-title "spotify",
   :match/skip-title true,
   :client/create "spotify"},
  "emacs"
  {:client/app-names ["Emacs"],
   :client/create
   {:create/cmd ralphie.emacs/open,
    :emacs.open/workspace :create/use-workspace-title,
    :emacs.open/directory :create/use-workspace-directory},
   :match/use-workspace-title true,
   :hide/type :hide/close,
   :focus/float-and-center true},
  "aseprite" {:client/app-names ["Aseprite"]},
  "discord"
  {:client/app-names ["Discord"],
   :client/workspace-title "discord",
   :match/skip-title true,
   :client/create "discord"},
  "topbar"
  {:client/workspace-title "doctor",
   :client/app-names ["doctor"],
   :client/window-title "tauri/doctor-topbar",
   :client/create
   {:create/cmd ralphie.tmux/fire,
    :tmux.fire/cmd "bb --config ~/russmatney/clawe/bb.edn topbar",
    :tmux.fire/session "doctor-topbar",
    :tmux.fire/interrupt? true}},
  "messages"
  {:client/app-names ["Messages"],
   :match/skip-title true,
   :client/workspace-title "messages"},
  "steam"
  {:client/app-names ["steam"],
   :client/workspace-title "steam",
   :match/skip-title true},
  "doctor-fe"
  {:client/create
   {:create/cmd ralphie.tmux/fire,
    :tmux.fire/cmd "clawebb clawe-fe",
    :tmux.fire/session "clawe",
    :tmux.fire/window "2",
    :tmux.fire/interrupt? true}},
  "journal"
  {:client/window-title "journal",
   :client/app-names ["Emacs"],
   :match/soft-title true,
   :client/create
   {:create/cmd ralphie.emacs/open,
    :emacs.open/workspace "journal",
    :emacs.open/file "~/todo/journal.org"}},
  "onepass"
  {:client/app-names ["1password"],
   :client/create "/usr/bin/gtk-launch 1password.desktop",
   :match/skip-title true,
   :client/workspace-title "onepass"},
  "godot"
  {:client/app-names ["godot"],
   :client/workspace-title "godot",
   :match/skip-title true}}}
